.circle-icon-header {
  width: 50px;
  height: 50px;
  font-size: 23px;
  line-height: 30px;
  margin: 2px;
  padding: 10px;
  border: 0px;
  border-radius: 50%!important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #20aee3;
}
.circle-icon-header-card {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin: 2px;
  background-color: #24d2b5;
  border: 1px solid #24d2b5;
}
.card-header{
  padding: 0px!important;
  border-bottom: 0px solid;
}
.card.notas-dashboard{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
  border-radius: 5px;
  font-weight: 300;
}
.offcanvas-body
p.card-text{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.offcanvas-body
.card{

}
