<div class="container">
  <div class="row">
    <div class="col-10"><h1 class="display-3 col-10">Notas</h1></div>
    <div class="col-1">
      <a class="btn btn-primary mt-4 rounded float-end circle-icon-header" data-bs-toggle="tooltip" title="Default tooltip" data-bs-toggle="modal" data-bs-target="#addNote" (click)="LimpiarValores()"><fa-icon [icon]="faPlus"></fa-icon></a>
    </div>
    <div class="col-1">
      <a class="btn btn-primary mt-4 rounded float-start circle-icon-header" data-bs-toggle="tooltip" title="Default tooltip" data-bs-toggle="offcanvas" href="#offcanvasArchivarNotas" role="button" aria-controls="offcanvasArchivarNotas"><fa-icon [icon]="faBoxArchive"></fa-icon></a>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
  <div class="col" *ngFor="let nota of arrayNotasExistentes">
    <div class="card notas-dashboard">
      <div class="card-header bg-transparent">
        <nav class="navbar navbar-light bg-transparent">
          <div class="container">
            <small>{{ nota?.fechaAgregada }}</small>
            <div class="d-flex">
              <a id="button-delete-{{nota?.id}}" class="button-five circle-icon-header-card delete" (click)="EliminarNota(this.nota.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </a>
              <a id="button-edit-{{nota?.id}}" data-bs-toggle="modal" data-bs-target="#addNote" class="button-five circle-icon-header-card edit" (click)="EditarNota(this.nota.id)">
                <fa-icon [icon]="faPen"></fa-icon>
              </a>
              <a id="button-edit-{{nota?.id}}" class="button-five circle-icon-header-card edit" (click)="ArchivarNota(this.nota.id)">
                <fa-icon [icon]="faBoxArchive"></fa-icon>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ nota?.titulo }}</h5>
        <p class="card-text">{{ nota?.descripcion }}</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addNote" tabindex="-1" aria-
  labelledby="agregarNota" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarNota">Agrega nueva nota</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="formAgregarNuevaNota">
          <div class="mb-3">
            <label for="TituloAgregarNota" class="form-label w-100">Titulo
              <input type="text" id="TituloAgregarNota" formControlName="titulo" name="titulo" class="form-control text-uppercase" autocomplete="off" autocorrect="off" autocapitalize="characters" spellcheck="false"
              [ngModel]="_interfazAgregarNota.titulo" (ngModelChange)="_interfazAgregarNota.titulo=$event.toUpperCase().trim()" (blur)="onBlurInputUsuario($event)"
              [ngClass]="{'is-invalid': ( formAgregarNuevaNota.get('titulo')?.invalid  && formAgregarNuevaNota.get('titulo')?.touched)}">
            </label>
            <div *ngIf="formAgregarNuevaNota.get('titulo')?.hasError('required') && formAgregarNuevaNota.get('titulo')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
            <div *ngIf="formAgregarNuevaNota.get('titulo')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinTitulo}}</div>
            <div *ngIf="formAgregarNuevaNota.get('titulo')?.hasError('pattern')" class="invalid-feedback d-block">{{mensajeCorreoFormato}}</div>

          </div>
          <div class="mb-3">
            <label for="descripcionAgregarNota" class="form-label w-100">Descripción
              <textarea type="text" class="form-control" id="descripcionAgregarNota" minlength="25"  maxlength="150" rows="5" formControlName="descripcion" name="descripcion"
              [ngClass]="{'is-invalid': ( formAgregarNuevaNota.get('descripcion')?.invalid  && formAgregarNuevaNota.get('descripcion')?.touched)}" (keyup)="onKeyTextArea($event)"></textarea>
              <small>{{contador}}/150</small>
            </label>
            <div *ngIf="formAgregarNuevaNota.get('descripcion')?.hasError('required') && formAgregarNuevaNota.get('descripcion')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
            <div *ngIf="formAgregarNuevaNota.get('descripcion')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinDescripcion}}</div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="AgregarNotaNueva(1,0)" [disabled]="(!formAgregarNuevaNota.valid)" *ngIf="!flagEditar">Agregar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="AgregarNotaNueva(2,this.tempID)" [disabled]="(!formAgregarNuevaNota.valid)" *ngIf="flagEditar">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasArchivarNotas" aria-labelledby="offcanvasArchivarNotasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasArchivarNotasLabel">Notas Archivadas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  <div class="row row-cols-1 row-cols-md-1">
    <div class="col mt-2" *ngFor="let nota of arrayNotasArchivadas">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-6 text">{{ nota?.titulo }}</h5>
          <p class="card-text fs-6 text">{{ nota?.descripcion }}</p>
          <a class="card-link btn btn-primary btn-sm" (click)="RestaurarNota(nota.id)">Restaurar</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



