nav.navbar{
  background-color: #fff!important;
}
.circle-icon-header {
  width: 50px;
  height: 50px;
  font-size: 23px;
  line-height: 30px;
  margin: 2px;
  padding: 12px 17px;
  border: 0px;
  border-radius: 50%!important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #20aee3;
  color: #fff;
}
a.button-five.btn.btn-primary.btn-sm{
  background: #ff5c6c;
    border: 1px solid #ff5c6c;
}
