<nav class="navbar bg-light">
  <div class="container-fluid">
    <h2 class="display-6">¡Bienvenido! <small class="fs-4">{{nombreUsuario}}</small></h2>
    <a class="button-five btn btn-primary btn-sm" (click)="logout()">
      <!-- <fa-icon [icon]="faClose"></fa-icon> -->
      CerrarSesion
    </a>
  </div>
</nav>
