
<footer class="text-center text-white mt-4 fixed-bottom"  style="background-color: #0a4275;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    By Vania Mydori Castillo Rendón © 2022 Copyright:
  </div>
  <!-- Copyright -->
</footer>
