<div class="content mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/img/idea-note.jpg" alt="Image" class="img-fluid"data-pagespeed-url-hash="4289692523" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3 class="display-4 mb-2">Iniciar Sesión</h3>
            </div>
            <form [formGroup]="formIniciarSesion" >
              <div class="form-group first">
                <label class="w-100" for="usuario">Usuario
                  <input  formControlName="usuario" id="inputUsuario" name="usuario" class="form-control text-uppercase" type="text" autocomplete="off" autocorrect="off" autocapitalize="characters" spellcheck="false"

                          [ngClass]="{'is-invalid': ( formIniciarSesion.get('usuario')?.invalid  && formIniciarSesion.get('usuario')?.touched)}">
                </label>
                <div *ngIf="formIniciarSesion.get('usuario')?.hasError('required') && formIniciarSesion.get('usuario')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
                <div *ngIf="formIniciarSesion.get('usuario')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinNombres}}</div>
              </div>
              <div class="form-group last mb-4">
                <label class="w-100" for="password">Contraseña
                  <input formControlName="contrasenia" id="inputContraseña" name="contrasenia" class="form-control" type="password" autocomplete="off" autocorrect="off" spellcheck="false"
                        (ngModelChange)="_interfazIniciarSesion.contrasenia=$event.trim()"
                        [ngClass]="{'is-invalid': ( formIniciarSesion.get('contrasenia')?.invalid  && formIniciarSesion.get('contrasenia')?.touched ) }">
                </label>
                <div *ngIf="formIniciarSesion.get('contrasenia')?.hasError('required') && formIniciarSesion.get('contrasenia')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
                <div *ngIf="formIniciarSesion.get('contrasenia')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinNombres}}</div>
                <div>{{ messageLogin }}</div>
              </div>
              <input type="submit" value="Iniciar" [disabled]="!this.formIniciarSesion.valid" class="btn btn-block btn-primary  gap-2 col-12 mx-auto" (click)="IniciarSesion()">
              <span class="d-block text-left my-4 text-muted">— ¿No tienes una cuenta? —</span>
              <button type="button" class="btn btn-primary  gap-2 col-12 mx-auto" data-bs-toggle="modal" data-bs-target="#modalRegistro" >
                Registrate aqui
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="extwaiokist" style="display:none" v="obocp" q="afb993de" c="670.2" i="708" u="10.26" s="06172213" d="1"
    w="false" e="" m="BMe=" vn="3gtr1">
    <div id="extwaigglbit" style="display:none" v="obocp" q="afb993de" c="670.2" i="708" u="10.26" s="06172213" d="1"
      w="false" e="" m="BMe="></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalRegistro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegistroLabel">Registrate</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRegistraUsuario" >
          <div class="form-group first">
            <label class="w-100" for="usuario">Usuario
              <input  formControlName="usuario" id="inputUsuarioRegistra" name="usuario" class="form-control" type="text" autocomplete="off" autocorrect="off" autocapitalize="characters" spellcheck="false"
                      [ngClass]="{'is-invalid': ( formRegistraUsuario.get('usuario')?.invalid  && formRegistraUsuario.get('usuario')?.touched)}">
            </label>
            <div *ngIf="formRegistraUsuario.get('usuario')?.hasError('required') && formRegistraUsuario.get('usuario')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
            <div *ngIf="formRegistraUsuario.get('usuario')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinNombres}}</div>
          </div>
          <div class="form-group last mb-4">
            <label class="w-100" for="password">Contraseña
              <input formControlName="contrasenia" id="inputContraseniaRegistra" name="contrasenia" class="form-control" type="password" autocomplete="off" autocorrect="off" spellcheck="false"
                    (ngModelChange)="_interfazIniciarSesion.contrasenia=$event.trim()"
                    [ngClass]="{'is-invalid': ( formRegistraUsuario.get('contrasenia')?.invalid  && formRegistraUsuario.get('contrasenia')?.touched ) }">
            </label>
            <div *ngIf="formRegistraUsuario.get('contrasenia')?.hasError('required') && formRegistraUsuario.get('contrasenia')?.touched" class="invalid-feedback d-block">{{campoRequerido}}</div>
            <div *ngIf="formRegistraUsuario.get('contrasenia')?.hasError('minlength')" class="invalid-feedback d-block">{{longitudMinNombres}}</div>
            <div class="invalid-feedback d-block">{{mensajeRegistra}}</div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="(!formRegistraUsuario.valid)"  (click)="RegistrarUsuario()">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>
